<%= simple_form_for(@client, html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :clientname %>
    <%= f.input :locationaddress, as: :text, input_html: { rows: "3" } %>
    <%= f.input :contactname %>
    <%= f.input :contactphone %>
    <%= f.input :contactemail %>
    <%= f.input :billingaddresssame %>
    <%= f.input :billingaddress, as: :text, input_html: { rows: "3" } %>
    <%= f.input :billingcontactname %>
    <%= f.input :billingphone %>
    <%= f.input :billingemail %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
